* {
  font-family: 'Times New Roman', Times, serif;
  
}

.input-control option[value="NULL"] {display: none;}

.container {
  width: 913px;
  height: 640px;
  border: 1px solid #E5E7EB;
  background-color: #1D1F21;
  position: relative;
  cursor: pointer;
  border-radius: 10px;
}

.header {
  width: 100%;
  background-color: #444648;
  display: flex;
  justify-content: space-between;
  margin: auto;
  height: 35px;  
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.delete-button:hover {
  color: red;
  background-color: white}


.header-text {
  font-size: 16px;
  color: white;
}

.header-text:nth-child(1) {
  padding-left: 20px;
}

.header-text:nth-child(2) {
  padding-right: 20px;
}

.tab-create {
  font-size: 20px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  border-top-left-radius: 10px;
}

.tabs {
  display: flex;
  width: 980px;
  margin: auto;
  margin-top: 0px;
  height: 35px;
}

.tab-text {
  color: white;
  text-decoration-line: none;
}

.sec-con-container {
  display: flex;
  /* flex-wrap: wrap; */
  margin: 10px;
  width: 100%;
  height: 100%;
  margin: auto;
}

.sec-con {
  display: flex;
  /* flex-wrap: wrap; */
  width: 400px;
  height: 550px;
  margin: auto;
}

.sec-con-table {
  display: flex;
  /* flex-wrap: wrap; */
  width: 54%;
  height: 100%;
  margin: auto;
  margin-top:5px;
}

.sec-con-column {
  display: flex;
  flex-flow: column;
  /* flex-wrap: wrap; */
  width: 40%;
  height:100%;
  margin: auto;
}
.position-absolute {
  position: absolute !important;
}
.sub-div {
  width: 480px;
  height: 280px;
  border: 0px solid #E5E7EB;
  background-color: #2c2e30;
  border-radius: 10px;
 color:white;
 box-shadow:
 -1px 0 8px 0 #E5E7EB,
 20px 20px 20px 0 rgba(34, 33, 81, 0.25);
transition:
 .4s ease-in-out transform,
 .4s ease-in-out box-shadow;
  margin-top: 10px;
  margin-top: 10px;
}

.sub-div-control {
  width: 100%;
  height: 50%px;
  border: 0px solid #E5E7EB;
  background-color: #2c2e30;
  border-radius: 10px;
 color:white;
 box-shadow:
 -1px 0 8px 0 #E5E7EB,
 20px 20px 20px 0 rgba(34, 33, 81, 0.25);
transition:
 .4s ease-in-out transform,
 .4s ease-in-out box-shadow;
}

.sub-div-note {
  width: 100%;
  height: 27%;
  border: 0px solid #E5E7EB;
  background-color: #2c2e30;
  border-radius: 10px;
 color:white;
 box-shadow:
 -1px 0 8px 0 #E5E7EB,
 20px 20px 20px 0 rgba(34, 33, 81, 0.25);
transition:
 .4s ease-in-out transform,
 .4s ease-in-out box-shadow;
 margin-top:5px;
}
.training-left-side-container {
  width: 100%;
  height: 100%;
  margin: 10px;
  display: flex;
  flex-flow: column;
  margin-top:15px;
}

.sub-div-table {
  width: 100%;
  height: fit-content;

  border: 0px solid #E5E7EB;
  background-color: #2c2e30;
  border-radius: 10px;
 color:white;
 box-shadow:
 -1px 0 8px 0 #E5E7EB,
 20px 20px 20px 0 rgba(34, 33, 81, 0.25);
transition:
 .4s ease-in-out transform,
 .4s ease-in-out box-shadow;
  margin: 10px;
}

.sub-div-plot {
  width: 570px;
  height: 384px;
  border: 0px solid #E5E7EB;
  background-color: #2c2e30;
  border-radius: 10px;
 color:white;
 box-shadow:
 -1px 0 8px 0 #E5E7EB,
 20px 20px 20px 0 rgba(34, 33, 81, 0.25);
transition:
 .4s ease-in-out transform,
 .4s ease-in-out box-shadow;
  margin: 10px;
}

.header-box {
  width: 100%;
  background-color: #FF6600;
  color: White;
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 18px;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* Button style */
.button {
  width: 100px;
  font-size: 20px;
  cursor: pointer;
  color:#ffffa1;
  background-color: #ff983f;
  outline: none;
  border-radius: 20px;
  border: 2px #ff983f solid;
  padding: 3px;
  font-family: 'Times New Roman', Times, serif;
}

.delete-button {
  width: 90px;
  font-size: 20px;
  cursor: pointer;
  color: white;
  background-color:red;
  outline: none;
  border-radius: 20px;
  border: 2px red solid;
  padding: 3px;
  font-family: 'Times New Roman', Times, serif;
}



.button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}


.button:hover {
  color: #ff983f;
  background-color: white;
  font-weight: bold;
}


.footer {
  width: 100%;
  height: 4%;
  background-color: #444648;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.footer-text {
  font-size: 20px;
  font-weight: 500;
  padding: 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 350px;
  font-family: 'Times New Roman', Times, serif;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: absolute;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 30px;
  /* Location of the box */
  width: 913px;
  height: 610px;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0);
  backdrop-filter: blur(9.2px);
  -webkit-backdrop-filter: blur(9.2px);
  border-radius: 10px;;
}



/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

.close {
  color: #ffffff;
  float: right;
  font-size: 28px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}

.close:hover,
.close:focus {
  color: #FF6600;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #2c2e30;
  color: #FF6600;
  font-family: 'Times New Roman', Times, serif;
}

.modal-body {
  padding: 2px 16px;
}



#myBtn:hover {
  cursor: "pointer";
}


/*swal*/
.position-absolute {
  position: absolute !important;
  backdrop-filter: blur(6px);
  border-radius: 10px;
}


.control-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column;
  
}

.control-panel-button-container {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  align-items: center;
  height: 10%;
  width: 100%;
  margin-top: 0.15in;
}

.Data-set-x-value-input-container {
  width: 100%;
  height: 68px;
  display: flex;
  justify-content:space-around;
  align-items: center;
}

.control-panel-create-frist {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: column;
  height: 175px;
}

.input-control {
  width: 120px;
  height: 30px;
  text-align: center;
}



#tablesContainer {
  width: fit-content;
  height:fit-content;
  
}

table {
  width: 100%;
}
th{
  background-color: #e0e0e0;
  color:black;
}

th,
td {
  border: 1px solid #e0e0e0;
  padding: 6px;
  text-align: center;
  width: 90px;
  font-size: 14px;
}

table,
td {
  border: 1px solid #e0e0e0;
 
}




#box {
  position: relative;

}

.swal2-popup {
  font-size: 0.8rem !important;
  font-family: Georgia, serif;
}

.swal-container {
  width: 894px;
  height: 652px;
  padding: 0px;
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translate(0%, 0%);
  border-radius: 10px;
}

.swal-container:target {
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translate(0%, 0%);
}


.swal-popup {
  margin: 160px 30px;
  width: auto !important;
  max-width: 50% !important;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  min-width: 30% !important;
}

.swal-popup-custom {
  margin: 160px 30px;
  width: auto !important;
  max-width: 50% !important;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  min-width: 30% !important;
}

.swal-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.swal-content {
  font-size: 18px;
}

.modal-footer {
  padding: 2px 16px;
  background-color:#2c2e30;
  color: #FF6600;
}






.delete-button.disabled{
  opacity: 0.5;
  cursor: not-allowed;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 10px;
  background-color: white;
  color:black;
  text-align: right;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

